* { margin: 0; padding: 0; box-sizing: border-box;}

#item-wrapper {
    width: 100vw;
}

body {
    display: grid;
    place-items: center;
    height: 50vw;
}

#items {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}
.item {
    flex: none;
    width: 100%;
    height: 300px;
    scroll-snap-align: start;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}